---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import BlogHeader from "../../components/BlogHeader.astro";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { format } from "date-fns";
import { contentfulClient } from "../../lib/contentful";
import type { BlogPost } from "../../lib/contentful";
import sanitizeHtml from "sanitize-html";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
  });

  const pages = entries.items.map((item) => {
    const imageUrl = item.fields.image
      ? `https:${item.fields.image.fields.file.url}`
      : "";

    const imageHeight =
      item && item.fields.image.fields.file?.details.image?.height;
    const imageWidth =
      item && item.fields.image.fields.file?.details.image?.width;

    return {
      params: { slug: item.fields.slug },
      props: {
        title: item.fields.title,
        image: imageUrl,
        width: imageWidth,
        height: imageHeight,
        description: item.fields.description,
        content: sanitizeHtml(documentToHtmlString(item.fields.content)),
        date: format(new Date(item.fields.date), "d MMMM, yyyy"),
      },
    };
  });

  return pages;
}

const { title, image, date,  description, width, height, content} = Astro.props;
---

<Layout title={title}>
  <Section>
    <BlogHeader
      title={title}
      description={description}
      date={date}
      link={Astro.url.pathname}
      imageSrc={image}
    />
  </Section>
  <artcile>
    <div class="max-w-5xl mx-auto p-4">
      <div class="" set:html={content}></div>
    </div>
</Layout>
