---
import Container from "../components/Container.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

const cardsData = [
  {
    title: "Professional growth:",
    body: "Coaching equips people to navigate challenges and roadblocks they may face.",
  },
  {
    title: "Professional growth:",
    body: "A dedicated Coach holds people accountable for attaining goals on their path to growth.",
  },
  {
    title: "Achieving potential:",
    body: "People are empowered to reach their goal milestones and inspired to go after what’s next.",
  },
  {
    title: "Sustained well-being:",
    body: "When people feel at their best, they perform at their best in all they do.",
  },
];

const howWorksData = [
  {
    icon: "notebook",
    alt: "coaching sessions",
    body: "Your coaching sessions will be thoughtfully designed to meet your personal, professional, and developmental goals, ensuring a balanced and tailored approach to your unique needs.",
  },
  {
    icon: "users",
    alt: "one-on-one sessions",
    body: "Engage in one-on-one sessions to start a self discovery journey. Your progress will be tracked with regular assessments, enjoying the flexibility you require by choosing your own schedule.",
  },
  {
    icon: "messages",
    alt: "holistic approach",
    body: "Experience a holistic approach to growth, focusing on both achieving goals and promoting overall well-being, empowering you to pursue new challenges and opportunities.",
  },
];
---
<Layout title="What is coaching">

  <Container class="w-full">
    <div class="flex items-start justify-around gap-8 flex-col pt-12 my-8" id="service">
      <h3 class="text-4xl md:text-5xl text-start font-semibold" id="services">
        What is coaching?
      </h3>
      <div class="flex flex-col gap-2 md:text-lg px-2" id="services-text">
        <p>
          Coaching is when an individual works with a trained professional in a
          process of self-discovery and self- awareness.
        </p><p>
          Working together, a Coach helps an individual identify strengths and
          develop goals.
        </p><p>
          Together, a coach and coachee practice and build the skills and
          behaviors required to make progress toward their goals.
        </p>
      </div>
    </div>
    <div
    class="flex justify-around items-center gap-8 flex-col px-0 md:p-4 mx-auto w-full mt-12"
    id="coaching"
    >
    <div
    class="flex justify-around items-start md:items-center flex-col md:p-4 mx-auto w-full mt-12"
    >
    <h3 class="text-3xl md:text-[2.7rem] font-semibold mb-12" id="why-a-coach">
      Why work with a Coach
    </h3>
    <div
    class="flex justify-center items-center gap-8 flex-col md:flex-row md:w-9/12 flex-wrap p-4 xl:w-full xl:flex-nowrap mx-auto"
    >
    {cardsData.map((card) => <Card title={card.title} body={card.body} />)}
  </div>
</div>
</div>
</Container>
<Container class="w-full bg-quaternary">
  <div class="flex items-start justify-center mx-auto gap-8 flex-col py-12">
    <h3 class="text-4xl md:text-5xl font-semibold" id="how-it-work">
      How it works
    </h3>
    <div
    class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap md:flex-row justify-around px-2 md:text-lg py-12 w-full text-center"
    >
    {
      howWorksData.map((data) => (
        <div
        class="border-b-2 border-primary pb-14 max-w-sm flex flex-col justify-center items-center w-full"
        id="service-card"
        >
            <Icon
              name={data.icon}
              height={72}
              width={72}
              class="m-8 text-tertiary"
              id={data.icon}
              />
            <p>{data.body}</p>
          </div>
        ))
      }
    </div>
  </div>
</Container>
</Layout>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: "#coaching",
      start: "top center",
      end: "bottom top",
      onEnter: () => tl.play(),
    },
  });

  document.querySelectorAll("#card").forEach((card) => {
    tl.fromTo(
      card,
      { opacity: 0, y: 50 },
      { opacity: 1, y: 0, duration: 0.5, ease: "power1.inOut", stagger: 0.1 }
    );
  });

  gsap.fromTo(
    ["#services", "#services-text"],
    {
      opacity: 0,
      y: 25,
    },
    {
      opacity: 1,
      y: 0,
      duration: 1.5,
      ease: "power2.out",
      stagger: 0.5,
      scrollTrigger: {
        trigger: "#services",
        start: "top 80%",
        end: "bottom 20%",
      },
    }
  );
  gsap.fromTo(
    "#why-a-coach",
    {
      opacity: 0,
      y: 25,
    },
    {
      opacity: 1,
      y: 0,
      duration: 1.5,
      ease: "power2.out",
      stagger: 0.5,
      scrollTrigger: {
        trigger: "#why-a-coach",
        start: "top 80%",
        end: "bottom 20%",
      },
    }
  );

  const howItWorksTl = gsap.timeline({
    scrollTrigger: {
      trigger: "#how-it-work",
      start: "top 80%",
      end: "bottom 20%",
      onEnter: () => howItWorksTl.play(),
    },
  });

  howItWorksTl.fromTo(
    "#how-it-work",
    {
      opacity: 0,
      y: 25,
    },
    {
      opacity: 1,
      y: 0,
      duration: 1.5,
      ease: "power2.out",
    }
  );

  document.querySelectorAll("#service-card").forEach((card) => {
    howItWorksTl.fromTo(
      card,
      { opacity: 0, y: 25 },
      { opacity: 1, y: 0, duration: 0.5, ease: "power2.out",},
    );
  });

</script>

