---
import Section from "../components/Section.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Hero from "../components/Hero.astro";
import { Image } from "astro:assets";
import Coaching from "../assets/coaching-2.avif";
import Book from "../components/Book.astro";

const cardsData = [
  {
    title: "Professional growth:",
    body: "Coaching equips people to navigate challenges and roadblocks they may face.",
  },
  {
    title: "Professional growth:",
    body: "A dedicated Coach holds people accountable for attaining goals on their path to growth.",
  },
  {
    title: "Achieving potential:",
    body: "People are empowered to reach their goal milestones and inspired to go after what’s next.",
  },
  {
    title: "Sustained well-being:",
    body: "When people feel at their best, they perform at their best in all they do.",
  },
];

const howWorksData = [
  {
    icon: "notebook",
    alt: "coaching sessions",
    body: "Your coaching sessions will be thoughtfully designed to meet your personal, professional, and developmental goals, ensuring a balanced and tailored approach to your unique needs.",
  },
  {
    icon: "users",
    alt: "one-on-one sessions",
    body: "Engage in one-on-one sessions to start a self discovery journey. Your progress will be tracked with regular assessments, enjoying the flexibility you require by choosing your own schedule.",
  },
  {
    icon: "messages",
    alt: "holistic approach",
    body: "Experience a holistic approach to growth, focusing on both achieving goals and promoting overall well-being, empowering you to pursue new challenges and opportunities.",
  },
];
---

<Layout title="What is coaching">
  <Hero>
    <div
      class="flex flex-col xl:flex-row justify-start items-center mx-auto gap-8 w-11/12"
      id="service"
    >
      <div class="flex flex-col space-y-2 justify-center items-start">
        <p class="text-primary/25 font-semibold text-xl" id="services-intro">
          Unlock Your Potential
        </p>
        <h1 class="text-4xl text-start font-extrabold md:text-7xl">
          What is Coaching?
        </h1>
        <div
          class="flex flex-col gap-2 md:text-lg py-4 px-2"
          id="services-text"
        >
          <p>
            Coaching is when an individual works with a trained professional in
            a process of self-discovery and self- awareness.
          </p><p>
            Working together, a Coach helps an individual identify strengths and
            develop goals.
          </p><p>
            Together, a coach and coachee practice and build the skills and
            behaviors required to make progress toward their goals.
          </p>
        </div>
      </div>
      <Image
        src={Coaching}
        alt="Coaching"
        class="max-w-lg h-auto w-full rounded-xl shadow-md grayscale-[10%] drop-shadow-xl"
      />
    </div>
  </Hero>
  <Section class="w-full" id="services-section-two">
    <div
      class="flex justify-around items-start md:items-center flex-col md:p-4 mx-auto w-full text-center"
    >
      <h2 class="text-4xl md:text-5xl font-extrabold" id="why-a-coach">
        Why work with a Coach?
      </h2>

      <div
        class="flex flex-row justify-center items-center gap-8 flex-wrap xl:w-full py-12"
      >
        {cardsData.map((card) => <Card title={card.title} body={card.body} />)}
      </div>
    </div>
  </Section>
  <div
    class="flex w-11/12 xl:w-3/4 mx-auto justify-center items-center flex-col xl:flex-row" id="quote"
  >
    <div class="bg-tertiary h-[2px] w-full xl:w-1/4" id="line-left"></div>
    <blockquote
    id="blockquote"
      class="w-full xl:w-1/2 text-xl xl:text-3xl p-4 text-pretty text-center italic font-light"
    >
      " Sometimes we need guidance to discover our true path "
    </blockquote>
    <div class="bg-tertiary h-[2px] w-full xl:w-1/4" id="line-right"></div>
  </div>
  <Section class="w-full">
    <div
      class="flex justify-around items-start md:items-center flex-col md:p-4 mx-auto w-full text-center"
    >
      <h3 class="text-4xl md:text-5xl font-extrabold" id="how-it-work">
        How it works
      </h3>
      <div
        class="flex justify-center flex-wrap xl:flex-nowrap gap-12 md:flex-row px-2 md:text-lg py-12 w-full text-center"
      >
        {
          howWorksData.map((data) => (
            <div
              class="border-b-2 border-primary pb-14 max-w-sm flex flex-col justify-center items-center w-full"
              id="service-card"
            >
              <Icon
                name={data.icon}
                height={72}
                width={72}
                class="m-8 text-tertiary"
                id={data.icon}
              />
              <p>{data.body}</p>
            </div>
          ))
        }
      </div>
    </div>
  </Section>
  <Section>
    <Book />
  </Section>
</Layout>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.fromTo(
    ["#services-intro", "h1", "#services-text", "img"],
    {
      opacity: 0,
      scale: 0.95,
    },
    {
      scale: 1,
      opacity: 1,
      duration: 1,
      delay: 0.5,
      ease: "power2.out",
      stagger: 0.5,
      scrollTrigger: {
        trigger: "#services-intro",
        start: "top 80%",
        end: "bottom 20%",
      },
    }
  );

  gsap.fromTo(
    ["#why-a-coach", ".card"],
    {
      opacity: 0,
      scale: 0.95,
    },
    {
      scale: 1,
      opacity: 1,
      duration: 1,
      delay: 0.5,
      ease: "power2.out",
      stagger: 0.4,
      scrollTrigger: {
        trigger: "#why-a-coach",
        start: "top 80%",
        end: "bottom 20%",
      },
    }
  );


  gsap.fromTo(
    ["#quote", ],
    {
      opacity: 0,
      scale: 0.95,
    },
    {
      scale: 1,
      opacity: 1,
      duration: 1,
      delay: 0.5,
      ease: "power2.out",
      stagger: 0.5,
      scrollTrigger: {
        trigger: "#quote",
        start: "top 80%",
        end: "bottom 20%",
      },
    }
  );

  gsap.fromTo(
    ["#how-it-work", "#service-card"],
    {
      opacity: 0,
      y: 30,
      scale: 0.95,
    },
    {
      y: 0,
      scale: 1,
      opacity: 1,
      duration: 1,
      delay: 1,
      ease: "power2.out",
      stagger: 0.4,
      scrollTrigger: {
        trigger: "#how-it-work",
        start: "top 80%",
        end: "bottom 20%",
      },
    }
  );
</script>
