---
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  content: string;
  date: string;
  width?: string;
  height?: string;
  link: string;
  imageSrc?: string | null;
}

const { title, date, description, link, imageSrc } = Astro.props;

---

<a href={link}>
  <div
    class="relative h-[450px] min-w-80 max-w-[600px] flex-shrink-0 overflow-hidden rounded-xl before:absolute before:inset-x-0 before:z-10 before:size-full before:bg-gradient-to-t before:from-neutral-900/[.7] drop-shadow-2xl"
  >
    <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm">
      {
        imageSrc && (
          <Image
            src={imageSrc}
            alt="Blog image cover"
            width={400}
            height={250}
            class="object-cover max-h-60 rounded-xl shadow-md  m-6"
            class="absolute start-0 top-0 size-full object-cover transition duration-500 group-hover:scale-110"
          />
        )
      }
    </div>
    <div class="absolute inset-x-0 top-0 flex justify-end p-4 z-10 text-secondary w-full">
      <p class="font-normal mb-3">
        {date}
      </p>
    </div>
    <div class="absolute inset-x-0 bottom-0 z-10 text-secondary ">
      <div class="flex h-full flex-col p-4 sm:px-6 relative">
        <h5
          class=" font-bold text-2xl tracking-tight mb-2"
          transition:name={title}
        >
          {title}
        </h5>
        <p class="font-normal p-3">
          {description}
        </p>
        <div class="text-end">
          <a
            class="text-white bg-tertiary hover:bg-tertiary-[110%] focus:ring-4 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center"
            href={link}
          >
            Read more
          </a>
        </div>
      </div>
    </div>
  </div>
</a>
